// Animation
@-webkit-keyframes fade-zoom-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-o-keyframes fade-zoom-in {
  0% {
    opacity: 0;
    -o-transform: scale(1.1);
    transform: scale(1.1)
  }

  100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes fade-zoom-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
  }
}