/* 引入变量 */
@import "modules/vars";

/* 初始化所有浏览器样式 */
@import "modules/normalize";

/* 引入基本样式 */
@import "modules/base";

/* 引入图标字体 */
@import "modules/tico";

/* 引入Flat元素 */
@import "modules/flat";

/* 引入动画 */
@import "modules/animation/animation";

/* Msgbox */
@import "modules/sweetAlert/sweet-alert";

/* Header */
@import "modules/loading/loading";
@import "modules/nav/header";

/* Loop grid */
@import "modules/loop/loop-grid";

/* Footer */
@import "modules/nav/footer";

/* Modal Search */
@import "modules/search/modal-search";

// Begin
body  {
    &.archive {
        background: #f5f6f9;
        &>header {
            box-shadow: none;
        }
        &>#content {
            &>.billboard {
                position: relative;
                background-color: rgba(5,15,25,.2);
                background-repeat: no-repeat;
                background-size: cover;
                height: 250px;
                padding: 75px 20px 0;
                &:before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    content: '';
                    background-color: rgba(0,0,0,.5);
                    z-index: 0;
                }
                &>.container {
                    position: relative;
                    color: #ffffff;
                    &>h1 {
                        i {
                            font-size: 2.8rem;
                            margin-right: 10px;
                            vertical-align: middle;
                        }
                    }
                    &>p {
                        border-top: 1px solid rgba(255,255,255,.2);
                        padding-top: 10px;
                    }
                }
            }

            &>.archive-posts {
                &>.posts-loop-grid {
                    &>.col-md-3 {
                        padding-left: 8px;
                        padding-right: 8px;
                    }
                    article {
                        &:hover {
                            box-shadow: 0 2px 4px rgba(0,0,0,.1);
                        }
                    }
                }
                &>.pagination-wrap {
                    &>nav {

                    }
                }
                &>.load-next {
                    &>.btn-next {
                        position: relative;
                        height: 42px;
                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-top: -12px;
                            margin-left: -8px;
                            font-size: 2.4rem;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }

    &.category {
        .billboard {
            background-image: url('../img/cat-header-bg.jpg');
        }
    }

    &.tag {
        .billboard {
            background-image: url('../img/tag-header-bg.jpg');
        }
    }

    &.date {
        .billboard {
            background-image: url('../img/date-archive-header-bg.jpg');
        }
    }
}