/* 引入变量 */
@import "modules/vars";

/* 初始化所有浏览器样式 */
@import "modules/normalize";

/* 引入基本样式 */
@import "modules/base";

/* 引入图标字体 */
@import "modules/tico";

/* 引入Flat元素 */
@import "modules/flat";

/* 引入动画 */
@import "modules/animation/animation";

/* Msgbox */
@import "modules/sweetAlert/sweet-alert";

/* Header */
@import "modules/loading/loading";
@import "modules/nav/header";

/* Sidebar */
@import "modules/aside/sidebar";

/* Footer */
@import "modules/nav/footer";

/* Modal Search */
@import "modules/search/modal-search";

/* Comments */
@import "modules/comment/comment";

/* Lightbox */
@import "modules/lightbox/lightbox";

/* PM */
@import "modules/pm/pm";

/* Modal Signbox */
@import "modules/modalSign/sign-box";

/* Article Content */
@import "modules/content/article-content";

body {
    &.page {
        background: #eff0f1; //#dfe3e5; // f9fafc
    }
    &>#content {
        &>.main-wrap {
            padding: 30px 0;
            &>#main {
                padding-left: 0;
                padding-right: 5px;
            }
        }
        &.full-page {
            &>.main-wrap {
                &>#main {
                    width: 100% !important;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

#main {
    >.page {
        //background: #ffffff;
        &>.single-header {
            position: relative;
            background: #fff;
            overflow: hidden;
            z-index: 1;
            width: 100%;
            &>.header-wrap {
                padding: 20px;
                a {
                    color: #ffffff;
                }
                &>.header-meta {
                    font-size: 1.4rem;
                    line-height: 1.2;
                    text-align: center;
                }
                &>h1 {
                    margin-top: 20px;
                    text-align: center;
                    //border-top: 1px dotted rgba(255,255,255,.3);
                    font-weight: 500;
                }
            }
        }
        &>.single-body {
            position: relative;
            padding: 20px;
            background: #ffffff;
            &>.article-header {
                display: table;
                margin-bottom: 30px;
                &>.post-tags {
                    display: table-cell;
                    padding-right: 40px;
                    &>a {
                        padding: 4px 10px;
                        background-color: @blue;//#19B5FE;
                        color: white;
                        font-size: 1.2rem;
                        line-height: 16px;
                        font-weight: 400;
                        margin: 0 5px 5px 0;
                        border-radius: 2px;
                        display: inline-block;
                        &:hover {
                            background: darken(@blue, 10%);
                        }
                    }
                }
                &>.post-meta {
                    display: table-cell;
                    padding-left: 1px;
                    white-space: nowrap;
                    vertical-align: top;
                    width: 1%;
                    &>a {
                        font-size: 1.6rem;
                        line-height: 24px;
                        padding: 0 5px;
                        color: @brand-primary;
                        &:hover {
                            color: darken(@brand-primary, 10%);
                        }
                        &.active {
                            color: @brand-hot;
                            cursor: default;
                        }
                        i {
                            margin-right: 5px;
                            line-height: inherit;
                        }
                    }
                }
            }
            &>.single-article {
                &>p:first-letter {
                    float: none;
                    font-weight: normal;
                    font-size: inherit;
                    line-height: inherit;
                    color: inherit;
                    margin-right: 0
                }
            }
        }
        &>#respond {
            margin-top: 20px;
            padding: 20px;
            background: #ffffff;
            &>h3 {
                margin-top: 0;
            }
        }
    }
    .article-footer {
        margin: 20px auto;
        &>.support-author {

        }
        &>.post-like {
            margin: 10px 0;
            &>.post-meta-likes {
                margin: 0;
                outline: 0;
                padding: 0 10px;
                display: inline-block;
                min-width: 105px;
                cursor: pointer;
                box-sizing: border-box;
                background-color: #ffffff;
                border: 1px solid @brand-hot;
                border-radius: 4px;
                color: @brand-hot;
                font-size: 15px;
                line-height: 38px;
                &:hover,
                &.active{
                    background: @brand-hot;
                    color: #ffffff;
                    //cursor: default;
                }
                &.active {
                    cursor: default;
                }
                i {
                    display: inline-block;
                    font-size: 2rem;
                    vertical-align: middle;
                    margin-top: -2px;
                    margin-right: 10px;
                }
            }
            &>ul {
                list-style: none;
                padding: 0;
                margin: 0;
                float: right;
                line-height: 40px;
                li {
                    display: inline-block;
                    font-size: 1.4rem;
                    height: 32px;
                    line-height: 32px;
                    margin: 4px 2px;
                    float: left;
                    img {
                        border-radius: 100%;
                    }
                    &>span {
                        color: @brand-hot;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}