.contextual-bg {
    position:relative;
    padding: 10px 15px;
    margin:10px 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius:3px;
    font-size: 1.4rem;
    color: #666666;
    &.unborder {
        border-width: 0 !important;
    }
}

.bg-primary {
    background-color: #f8f8fa;
    border-color: #eaebed;
}

.bg-success {
    background-color: #e7f4e7;
    border-color: #aedcae;
}

.bg-info {
    background-color: #e6f6fa;
    border-color: #ade0ef
}

.bg-notice {
    background-color: #fff4b9;
    border-color: #ecd162;
}

.bg-warning,
.bg-danger {
    background-color: #f9e5e5;
    border-color: #eca9a7;
}

.contextual-panel {

}

.panel-primary {

}

.panel-success {

}

.panel-notice {

}

.panel-warning,
.panel-danger {

}