// font
@font-face{font-family:"Titillium";src:url('../fonts/TitilliumWeb-Regular.ttf') format("opentype");font-weight:normal}
@font-face{font-family:"Titillium";src:url('../fonts/TitilliumWeb-Italic.ttf') format("opentype");font-weight:normal;font-style:italic;}
@font-face{font-family:"Titillium";src:url('../fonts/TitilliumWeb-SemiBold.ttf') format("opentype");font-weight:500;}

// html
html {
  font-size: 62.5%;
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

// body
body {
  font: @font-base;
  min-height: 100%;
}

// head title
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,h5,h6 {
  margin-top: 10px;
  margin-bottom: 10px
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}


// p
p {
  margin: 0 0 10px
}

// a
a {
  color: #3292ff;
  text-decoration: @link-hover-decoration;

  &:hover {
    text-decoration: underline;
  }
}

// clearfix
.clearfix {
  zoom: 1;

  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

// box-sizing
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// .container
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 768px) {
  .container {
    width:750px
  }
}

@media (min-width: 992px) {
  .container {
    width:970px
  }
}

@media (min-width: 1200px) {
  .container {
    width:1170px
  }
}
